[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/pack/default/start/gruvbox"]
	path = .vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/pack/dist/start/vim-airline"]
	path = .vim/pack/default/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/default/start/nerdtree"]
	path = .vim/pack/default/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/default/start/syntastic"]
	path = .vim/pack/default/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/pack/default/start/vim-gruvbox8"]
	path = .vim/pack/default/start/vim-gruvbox8
	url = https://github.com/lifepillar/vim-gruvbox8.git
[submodule ".vim/pack/default/start/Sunset"]
	path = .vim/pack/default/start/Sunset
	url = https://github.com/vim-scripts/Sunset.git
[submodule ".config/alacritty/alacritty-theme"]
	path = .config/alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
[submodule ".vim/pack/default/start/vim-lsp"]
	path = .vim/pack/default/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule ".config/sway/sway-fzfify"]
	path = .config/sway/sway-fzfify
	url = https://github.com/ldelossa/sway-fzfify.git
[submodule ".config/nixos/musnix"]
	path = .config/nixos/modules/musnix
	url = https://github.com/musnix/musnix.git
