[user]
    name = Gajdos, Miroslav
    email = miroslav.gajdos@firma.seznam.cz
[push]
    default = simple
[pull]
    ff = only
[status]
    showuntrackedfiles = no
[alias]
    st = status
    ap = add -p
    d = diff
    dc = diff --cached
    ds = diff --staged
    l = log --graph -n 25 --abbrev-commit --date=relative --pretty=format:'%C(auto)%h%d - %s %C(blue)<%an> %C(green)(%ar)'
    la = log --graph --all --abbrev-commit --date=relative --pretty=format:'%C(auto)%h%d - %s %C(blue)<%an> %C(green)(%ar)'
    fap = fetch --all -p
[color]
    ui = true
[core]
    excludesfile = ~/.gitignore
    editor = vim
    pager = less -FRSX
    autocrlf = input
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
