[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/pack/default/start/gruvbox"]
	path = .vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
