[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/pack/default/start/gruvbox"]
	path = .vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/pack/dist/start/vim-airline"]
	path = .vim/pack/default/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/default/start/nerdtree"]
	path = .vim/pack/default/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/default/start/syntastic"]
	path = .vim/pack/default/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
